
.header {
    background-image: url(/public/img/wheelpic.jpeg);
    background-repeat: no-repeat;
    padding-bottom: 400px;
}

.row-layout {
    display: flex;
    justify-content: center;
    position: relative;

    
}

.column-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instagram {

}