/* Top to bottom styling order */

/*  Header  */
.header {
    background-image: url(/public/img/wheelpic.jpeg);
    background-repeat: no-repeat;
    padding-bottom: 400px;
}

.row-layout {
    display: flex;
    justify-content: center;
    position: relative;
}

/*  Middle section  */

/*  Services  */

.column-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mid-page {
    background-color: #000;
}

/* ^  Services  ^ */
