/* Top to bottom styling order */

.flex-home {
    display: flex;
    flex-direction: column;
}
/*  Header  */
.header {
    background-image: url(/public/img/wheelpic.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-color: rgba(21, 22, 26, 0.85);
    background-blend-mode: darken;

}

.row-layout {
    display: flex;
    justify-content: center;
    position: relative;
}

/*  Middle section  */

/*  Services  */

.column-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mid-page {
    background-color: #000;
}

/* ^  Services  ^ */
