ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.column-cards {
    display: flex;
    gap: 30px;
}

.card {
    background: #635757;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    text-align: center;
    width: 300px;
    height: 360px;

}

.service-img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.service-img-2 {
  margin-top: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

h3 { 
    color: #000;
}

.card li {
    margin: 0;
    color: #fff;
}

.service-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.service-title h3 {
  color: #ffffff;
  font-size: 30px;
  font-style: italic;

}

.service-container {
  display: flex;
  flex-direction: column;
}