
.column-layout {
  display: flex;
  flex-direction: column;
  /* gap: 50px; */
}
.title-text {
  color: #db2347;
  font-size: 60px;
  font-style: italic;
  font-weight: 900;
  text-align: center;
  
}
.title-texts {
  color: #ffffff;
  font-size: 60px;
  font-style: italic;
  font-weight: 900;
  text-align: center;
  
}

.header-text {
  color: #ffff;
  font-size: 60px;
  font-style: italic;
  font-weight: 900;
  text-align: center;
}

.header-button {
  background-color: #db2347;
  border: 2px solid black;
  border-radius: 40px;
  color: white;
  font-size: 30px;
  padding: 20px 30px;
  font-style: italic;
  font-weight: 900;
}

.header-button:hover {
  background-color: #fff;
}

.red {
  color:#db2347;
}