.navbar {
    display: flex;
    background-color: #000;
    justify-content: flex-end;
}

.navbar ul {
    display: flex;
    gap: 12px;
    margin: 0;
    padding: 25px 60px;
}

li {
    margin: 0;
    margin-right: 30px;
    list-style: none;
}

button {
    border: none;
    background: none;
    font-family: Rubik;
    font-size: 22px;
    padding: 0;
}

/* Anchor element is related to the Link function in React */
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #db2347;
}

.logo {
    margin-right: auto;

}